@import url('https://fonts.googleapis.com/css2?family=Popins:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Popins', sans-serif;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #f6fbfd;
}
.container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4rem auto;
}
.menu a{
    text-decoration: none;
    padding: 5px 5px;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    font-weight: bold; 
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;

}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box {
    margin: 10px;
}
.store-img {
    height: 400px;
    width: 400px;
}
a:hover {
    background-color: #007bff;
    color: #fff;
}
